@media screen and (min-width: 1440px) {
    .laptopNavHeader {
        width: 73%;
    }

    .prescribingInfo {
        display: block;
        position: absolute;
        right: 0;
        top: 50px;
        width: 27%;
        height: 95vh;
        /* background-color: brown; */
    }

    .prescribingInfo .heading {
        height: 80px;
        background: rgba(0, 166, 172, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        padding: 16px 0;
    }

    .prescribingInfo .heading span:first-of-type {
        height: 34px;
        width: 30px;
    }

    .prescribingInfo .heading span img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .prescribingInfo .heading span:last-of-type {
        font-size: 20px;
        font-weight: 700;
        line-height: 24.2px;
        text-align: center;
        color: rgba(255, 255, 255, 1);
    }

    .prescribingInfo .info {
        /* height: 3785px; */
        padding: 30px 26px;
        overflow-y: scroll;
        border-left: 1px solid rgba(230, 230, 230, 1);
    }

    .prescribingInfo .info h2 {
        font-size: 22px;
        font-weight: 700;
        line-height: 28.6px;
        text-align: left;
        color: rgba(0, 73, 118, 1);
        margin-bottom: 10px;
    }

    .prescribingInfo .info .text {
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        text-align: left;
        color: rgba(18, 18, 18, 1);
    }

    .prescribingInfo .info h2:nth-of-type(2) {
        margin-top: 30px;
    }

    .prescribingInfo .info h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        text-align: left;
        color: rgba(0, 73, 118, 1);
    }

}