@media screen and (min-width: 1440px) {
    .topHeader {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 999;
        background: rgba(255, 255, 255, 1);
    }
    .laptopNavHeader {
        width: 73%;
        position: fixed;
        top: 50px;
        z-index: 999;
    }

    /* to stop the other elements below header and nav to shift up (because of fixed position) */
    body {
        padding-top: 130px;  
    }

    .prescribingInfo {
        display: block;
        position: fixed;
        right: 0;
        top: 50px;
        width: 27%;
        height: 95vh;
        /* background-color: brown; */
    }

    .prescribingInfo .heading {
        height: 80px;
        background: rgba(0, 166, 172, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        padding: 16px 0;
    }

    .prescribingInfo .heading span:first-of-type {
        height: 34px;
        width: 30px;
    }

    .prescribingInfo .heading span img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .prescribingInfo .heading span:last-of-type {
        font-size: 20px;
        font-weight: 700;
        line-height: 24.2px;
        text-align: center;
        color: rgba(255, 255, 255, 1);
    }

    .prescribingInfo .info {
        height: calc(100vh - 130px);
        padding: 30px 26px;
        overflow-y: scroll;
        border-left: 1px solid rgba(230, 230, 230, 1);
        position: relative;
    }

    .prescribingInfo .info h2 {
        font-size: 22px;
        font-weight: 700;
        line-height: 28.6px;
        text-align: left;
        color: rgba(0, 73, 118, 1);
        margin-bottom: 10px;
    }

    .prescribingInfo .info .text {
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        text-align: left;
        color: rgba(18, 18, 18, 1);
    }

    .prescribingInfo .info h2:nth-of-type(2) {
        margin-top: 30px;
    }

    .prescribingInfo .info h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        text-align: left;
        color: rgba(0, 73, 118, 1);
    }

    ul.warningPrecaution, ul.drug, ul.specific {
        padding-left: 20px;
        list-style-type: none;
    }

    .warningPrecaution li, .drug li, .specific li {
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        text-align: left;
        margin: 10px 0;
        color: rgb(18, 18, 18);
    }

    .warningPrecaution li::before, .drug li::before, .specific li::before {
        content: '•';
        color: rgba(0, 166, 172, 1);
        position: absolute;
        left: 25px;
        font-size: 18px;
        line-height: 25.2px;
    }

    .warningPrecaution li span, .drug li span, .specific li span {
        font-weight: 700; 
    }

    .prescribingInfo .info h4 {
        font-size: 18px;
        font-weight: 700;
        line-height: 25.2px;
        text-align: left;
        color: rgba(0, 73, 118, 1);
        margin-top: 20px;
    }

    p.adverse, p.lab {
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        text-align: left;
        color: rgb(18, 18, 18);
        margin: 10px 0;

    }

    .info p:last-of-type {
        font-size: 18px;
        font-weight: 400;
        line-height: 24.3px;
        text-align: left;
        color: rgba(22, 22, 22, 1);
        margin-top: 10px;
    }

    .info p:last-of-type a {
        color:rgba(0, 73, 118, 1);
    }

    /* -------------------- scrollbar styling ------------------  */
    .info::-webkit-scrollbar {
        width: 12px;
        height: 125px;
    }

    .info::-webkit-scrollbar-track {
        background: rgba(238, 238, 238, 1);
        padding: 2px;

    }

    .info::-webkit-scrollbar-thumb {
        background: rgb(0, 79, 136);
        border-radius: 25px;
    }

    .info::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 62, 106, 1);
    }

    /* ----------------- main ------------------ */
    main {
        width: 73%;
    }
    /* ------------------- banner ------------- */
    .bannerSection {
        height: 652px;
    }

    .bannerSection .heroImage {
        height: 100%;
    }

    .bannerSection h3 {
        top: 36px;
        left: 16px;
        font-size: 25px;
        line-height: 33.75px;
    }
    
    .bannerSection h2 {
        position: absolute;
        top: 80px;
        left: 16px;
        font-size: 38px;
        line-height: 45.6px;
        width: 666px;
    }

    .nccn {
        width: 533px;
        height: 170px;
        margin: 14px 0px 20px 0px;
        /* border: 1px solid white; */
        position: absolute;
        top: 200px;
        left: 16px;
    }

    .nccn p {
        font-size: 20px;
        line-height: 27px;
    }

    .bannerSection .text {
        width: 649px;
        bottom: 18px;
        left: 20px;
    }
}