@media screen and (min-width: 1024px) {
    body {
        background-color: bisque;
    }

    .navHeader {
        display: none;
    }

    .laptopNavHeader {
        height: 80px;  
        background-color: #004976;
        display: flex;
        column-gap: 40px;
    }

    .laptopNav {
        display: flex;
        /* width: 80%; */
        justify-content: space-around;
    }

    .laptopNav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        column-gap: 75px;
    }

    .laptopNav ul li {
        display: flex;
        height: 32px;
        column-gap: 16px;
    }

    .laptopNav ul li span img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .laptopNav ul li a {
        font-size: 18px;
        font-weight: 700;
        line-height: 21.78px;
        text-align: center;
        color:rgba(255, 255, 255, 1);
        text-decoration: none;
        align-content: center;
    }

}