@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 400px;
    font-family: "Inter", sans-serif;
    position: relative;
}

header {
    /* position: relative; */
}

.topHeader {
    height: 27px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(245, 245, 245, 1);
}

.navHeader {
    height: 58px;
    background-color: #004976;
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menuIcon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menuIcon img:hover {
    cursor: pointer;
}

/* hide laptop nav in mobile */
.laptopNav {
    display: none;
}

.mobileNav {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 256px;
    background-color: rgba(0, 73, 118, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.mobileNav ul {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.mobileNav ul li {
    height: 28px;
    display: flex;
    justify-content: space-between;
    column-gap: 14px;
    align-items: center;
    margin: 20px 0;
}

.mobileNav ul li:hover,
.mobileNav ul li:active {
        filter: brightness(0) saturate(100%) invert(93%) sepia(75%) saturate(2474%) hue-rotate(152deg) brightness(84%) contrast(86%);
}

.mobileNav ul li:first-of-type {
    margin-top: 0;
}

.mobileNav ul li:last-of-type {
    margin-bottom: 0;
}

.mobileNav ul hr{
    width: 90%;
    height: 1px;
    background-color: rgba(0, 166, 172, 1);
    border: none;
}

.mobileNav ul li span, .mobileNav ul li a {
    height: 100%;
}

.mobileNav ul li span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mobileNav ul li a {
    font-size: 16px;
    line-height: 19.36px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    align-content: center;
}

.prescribingLink {
    height: 52px;
    width: 100%;
    display: flex;
    background-color:rgba(0, 166, 172, 1);
    align-items: center;
    justify-content: center;
    column-gap: 14px;
    padding: 15px 0;
}

.prescribingLink span{
    height: 100%;
}

.prescribingLink span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prescribingLink a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color:rgba(255, 255, 255, 1);
}

.laptopNavHeader {
    display: none;
}

.prescribingInfo {
    display: none;
}

/* --------------------------------- Banner Section ---------------------------------------- */
.bannerSection {
    background: rgba(0, 12, 66, 1);
    height: 1068px;
    position: relative;
}

.bannerSection .heroImage {
    width: 100%;
    height: 345px;
    object-fit: cover;
    /* border: 2px solid white; */
}

.bannerSection h3 {
    position: absolute;
    top: 300px;
    left: 16px;
    color: rgba(237, 83, 56, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: left;
}

.bannerSection h2 {
    margin: 0 16px 30px 16px;
    color: rgba(255, 255, 255, 1);
    font-size: 34px;
    font-weight: 700;
    line-height: 42.5px;
    text-align: left;
}

.bannerSection h2 span {
    color: rgba(237, 83, 56, 1);
}

.nccn {
    width: 368px;
    height: 179px;
    margin: 14px 16px 20px 16px;
    /* border: 1px solid white; */
    position: relative;
}

.nccn img {
    width: 143px;
    height: 100%;
}

.nccn p {
    position: absolute;
    bottom: 0;
    left: 32px;
    color:rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 24.3px;
    text-align: left;
}

.nccn p span, .bannerSection .text p span{
    vertical-align: 0.7em;
    font-size: 0.5em;
}

.bannerSection .text {
    width: 368px;
    height: 348px;
    /* border: 1px solid white; */
    margin: 20px 21px 14px 21px;
}

.bannerSection .text p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}
